<!DOCTYPE html>
<html lang="en">
<head>
  <title>CV - Christopher John Bird</title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- <link rel="stylesheet" type="text/css" href="css/chrisbird_co_uk.css?v=1" />   -->
<!-- '?v=1': hack to stop css caching -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">

</head>
 

<!-- <!DOCTYPE html>
<html lang="en">
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include projects.html %}
      </section>
        {{ content }}
  </body>

  <!-- {% include head.html %} -->


<body>

<div class="container">

<h1 class="sectionHeader">Chris Bird</h1>
<table id="info">
    <tr valign="top">
      <!--<td align="center"><img src="images/mugshot.png" alt="Chris Bird" width="138" height="200" align="middle" /></td>-->
<td>
          <p nobr="yes">Date of birth: 27/01/1975<br />
          British Citizen (NI: JB 93 17 13 B)<br />
          Full UK Driving Licence<br />
          <!-- <img src="images/phone_number.png" width="137" height="16" alt="phone number" /><br>-->
          Phone: +44 (0)7970 533352<br>
          Email: <a href="mailto:chrisjbird@gmail.com">chrisjbird@gmail.com</a><br />
          <!-- <a href="http://www.chrisbird.co.uk">chrisbird.co.uk</a><br /> -->
          LinkedIn: <a href="http://uk.linkedin.com/pub/chris-bird/6/557/624">https://uk.linkedin.com/pub/chris-bird/6/557/624</a></p>
          <!--<p><a href="http://uk.linkedin.com/pub/chris-bird/6/557/624">   
            <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Chris Bird's profile on LinkedIn" /></a><br /></p>--></td>
    </tr>
</table>
<h2 class="sectionHeader">Skills and Experience</h2>
Web: HTML, JavaScript, BackboneJS, jQuery, Yeoman, Gulp, CSS, SASS, SVG, Photoshop, GIMP<br />
Node.js, Express <br />
Programming: C/C++, Python, PHP, Perl, Java, Fortran<br />
Linux: scripting, programming, admin, bash, git, valgrind, gdb<br />
Apache configuration, SEO<br />
Databases: MySQL, Ingres (Postgres variant)<br />
Automation with Selenium WebDriver<br />
Browser testing using BrowserStack<br />
Django, Plone/Zope<br />
<!-- LaTeX<br /> -->
<h2 class="sectionHeader">Education </h2>
<ul>
    <li><strong>BSc (Hons) 2:1</strong> in <strong>Computer Science</strong> from University of the West of England, Bristol</li>
    <li>A-levels in Chemistry, Physics and Maths</li>
</ul>

<h2 class="sectionHeader">Other Skills</h2>
<p>Electronics (building circuit boards, soldering etc); reasonable French, German, Spanish; some Japanese. </p>

<h2 class="sectionHeader">Employment</h2>
<p>June 2002 - Present<br />
<strong>University of Oxford - Clinical Trials Service Unit (CTSU)</strong> - <a href="http://www.ctsu.ox.ac.uk/">www.ctsu.ox.ac.uk</a><br />
Analyst/Programmer (<a href="http://www.mrc.ac.uk/">MRC</a> Band 4)</p>
<p>Since 2001 I have been an Analyst/Programmer, and also department webmaster, for the Clinical Trial Service Unit at the University of Oxford, as part of the Core Programming team. The unit runs large-scale clinical trials of cancer, leukaemia and heart disease treatments. In Core Programming we provide IT solutions for most sections of the department. My work has been split about 80-20 percent between programming work and web work. For Windows  applications we have been using Borland/CodeGear C++ Builder/RAD Studio. Most databases are Ingres/Actian RDBMS (similar to PostgreSQL). Major work completed to date includes:</p>
<ul>
    <li>Development of web-based cognitive tests in JS/jQuery, CSS/SASS, Yeoman, SVG, JSON http://oqs.ndph.ox.ac.uk/ (in development, login details needed to access)</li>
    <li>Development of SMS sending system which has sent over half a million patient reminder messages so far (C/Ingres)</li>
    <li>Programming and support for various data entry/randomisation programs (AAMFS, AML14, ALL2003, FACS) in C on VMS</li>
    <li>UK Biobank project (<a href="http://www.ukbiobank.ac.uk/">www.ukbiobank.ac.uk</a>) - development of touchscreen data gathering application (C++ Builder)</li>
    <li>Web versions of cognitive tests for UK Biobank: <a href="https://github.com/drkvogel/bb-quizzes/">https://github.com/drkvogel/bb-quizzes/</a></li>
    <li>LIMS Laboratory applications
      <ul>
        <li>HPLC Comms - application to communicate between lab equipment and central database (C++ Builder) </li>
        <li>Storage Sync - application to sync data between central database and laptop taken to remote blood sample storage facility (C++ Builder) </li>
        <li>Cryovial manager - application to manage physical location of blood samples in storage facility (C++ Builder) </li>
        <li>SentChek md5 checker - application to ensure integrity of data transfer from laptops (C++ Builder) </li>
        <li>iSYS Comms - application to communicate with IDS-iSYS specimen analyser (C++ Builder)</li>
        <li>StoreMan - cryovial storage management system  (C++ Builder)</li>
      </ul>
  </li>
    <li>Migration of data from legacy GALAXY application to new NOVA application (PHP, Perl, Python)</li>
    <li>Development of department website (<a href="http://www.ctsu.ox.ac.uk">www.ctsu.ox.ac.uk</a>) in Plone / Zope&nbsp;/ Python</li>
    <li>Other web work
      <ul>
        <li><a href="http://www.acst.org.uk">www.acst.org.uk</a> </li>
        <li><a href="http://www.ckbiobank.org">www.ckbiobank.org</a></li>
        <li>CTSU intranet </li>
        <li>various microsites</li>
      </ul>
    </li>
    <li>HPS2-Thrive project - Aster laptop editor module (Java/Velocity) </li>
    <li>Labyrinth patient data manager (C++ Builder)</li>
    <li>ROC digital image archive browser and populator (C++ Builder)</li>
    <li>FullCircle - round-trip data integrity checker for Sharp project (C++ Builder)</li>
    <li>LapCheck - remote laptop fault diagnosis tool (C++ Builder) </li>
    <li>Multifier - source code analyser for internationalisation using Borland Multilizer (C++ Builder) </li>
    <li>UK Cancer Research Network&nbsp;monthly data accrual export (Perl and C) </li>
    <li>Unicode/base64 database storage routines (C++) </li>
    <li>Migration of medical publication references from Procite into Oxford Research Archive ORA (various) </li>
    <li>Migration of servers to new hardware (Linux command line (bash/sh/csh))</li>
    <li>Configuration of department web servers (Apache, Linux)</li>
</ul>

<p><strong>Fry Ltd</strong> <a href="http://www.fry-it.com/">www.fry-it.com</a>
(Freelance)
<p>SugarCRM, PHP, Plone, HTML/CSS/YUI. Tailoring of CRM systems for public sector clients.
<p><strong>Hedgenet Systems</strong> <a href="http://hedgenetsystems.com/">hedgenetsystems.com</a>
(Freelance)
<p>PHP, MySQL, HTML/CSS. Initial development of hedge fund management application.
<p><strong>Educational Information Solutions</strong> (Freelance)
<p>Development of time-management application for teachers in Django framework.
<p>June 2001 - November 2001<br />
  <strong>Haysworks (now Hays Recruitment)</strong> - <a href="http://www.hays.com/">www.hays.com</a><a href="http://www.hays.com/"></a><br />
Web Producer
<p>At Hays I produced and updated content on www.haysworks.com, a recruitment website covering sectors from accountancy and IT to teaching; using Dreamweaver, Photoshop, HTML and JavaScript. I was also responsible for general upkeep of the website, for instance link checking and statistics using LinkGuard and other tools; I provided technical advice to designers, for example how to achieve certain effects in JavaScript or HTML; and was involved with an upgrade of the in-house content management system which was written in JSP (Java Server Pages).</p>

<p>January 2001 - May 2001<br />
<strong>Sun Microsystems (now Oracle) - </strong><a href="http://www.oracle.com/us/sun/index.html">www.sun.co.uk</a><br />
Web Designer</p>
<p>I produced web pages featuring Sun products and events for <u>www.sun.co.uk</u>, as part of the  busy UK web marketing team. I authored pages  in HTML, Perl and JavaScript using an in-house Sun content management system in a Solaris Unix environment, and Dreamweaver and Photoshop. I was also set a task to improve Sun UK's visibility on the web, evaluating search engine submission services and tools such as NetGenesis and WebTrends. Within a few weeks we had www.sun.co.uk in the top five on Google for searches such as 'server' or 'workstation'. I was also responsible for keeping web tools and technology up to date: compiling and installing open-source software for Solaris at a time when software for Unix-like systems was scarce.</p>

<p>August 1998 - August 2000<br />
<strong>Securicor Information Systems (now Capita Secure Information Solutions)</strong> - <a href="http://www.capitasecureinformationsolutions.co.uk/Pages/home.aspx">capitasecureinformationsolutions.co.uk</a><br />
Software Maintenance Engineer</p>
<p>I did maintenance and development in C/C++ of the market-leading DS1000 Integrated Communication and Control System (ICCS) for over 60 of the biggest Police forces, Fire services and Ambulance trusts across the UK. Fault diagnosis, from on-site visits and diagnostic data provided by field engineers, involved frequent customer contact and required replication of faults on a factory test system. It required a broad knowledge of radio and telephony technology (e.g. MASC encryption, DPNSS/G703, ISDN). Other responsibilities included producing documentation and HowTo guides. Code was written mainly in Symantec C++ and assembler in a Windows environment and it was deployed on MSDOS and embedded in ICs. We used a CVS-like version control system called Intersolv PVCS Manager, FlashView debugger, Remedy call-logging software, and various in-house MS Access/VB support applications.</p>

<p>September 1997 - June 1998<br />
<strong>Final Year of Degree Course at UWE, Bristol</strong> - <a href="http://www.uwe.ac.uk">www.uwe.ac.uk</a></p>
<p>Final year modules included Systems Administration, Compiler Design, Object-Oriented Systems, Advanced Formal Specification, Operating Systems, 3D graphics. My final year project was designed using Rational Rose/UML and was written in Java.</p>

<p>August 1996 - August 1997<br />
<strong>Magnox Electric Plc - </strong><a href="http://www.magnoxsites.co.uk/">magnoxsites.co.uk</a><br />
Simulator Maintenance and Development Engineer</p>
<p>Maintenance and development of systems simulating Magnox nuclear power stations in Fortran on UMAX (a parallel UNIX variant), upkeep of system documentation. Also PC/Windows 3.1 network support, maintenance of simulator hardware, building circuit boards, drawing of systems diagrams using CorelDraw.</p>

<h2 class="sectionHeader">Training</h2>
<ul>
    <li><em>Oracle Database Administration</em> - 2000, <a href="http://www.oracle.com/uk/index.html">Oracle UK</a></li>
    <li><em>Plone Content Management System </em>- 2007, <a href="http://www.webworks.se">Webworks Sweden</a></li>
    <li><em>UNIX System Administration </em>- 1997, <a href="http://en.wikipedia.org/wiki/Encore_Computer">Encore Computer Corp.</a></li>
    <li><em>UNIX Network Administration </em>- 1997, <a href="http://en.wikipedia.org/wiki/Encore_Computer">Encore Computer Corp.</a></li>
    <li><em>Presentation Skills</em> - 2008, <a href="http://www.ox.ac.uk/">University of Oxford</a></li>
</ul>

<h2 class="sectionHeader">Code Samples</h2>
<p align="center">Available on request.</p>

<h2 class="sectionHeader">References</h2>
<p align="center">Available on request.</p>

      <!-- {% include footer.html %} -->

</div>   <!-- class="content" -->

</body>
</html>
