<div class="container">
  <div class="user-details">
    <h3> My Expertise </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-original colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-gimp-plain"></i>
      <i class="devicon-inkscape-plain"></i>
      <p>I can design wit ye olde HTML, CSS/SASS, Bootstrap, and do some grafix with GIMP, Inkscape</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I can haz teh programming in C++, Python, JavaScript, PHP, a bit of Java....</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-vim-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <!-- <i class="devicon-atom-original-wordmark"></i> -->
<!--       <i class="devicon-linux-plain"></i>
      <i class="devicon-apache-plain"></i>
      <i class="devicon-heroku-plain"></i>
 -->      <i class="devicon-trello-plain"></i>
      <i class="devicon-ssh-plain"></i>
      <p>I use Git, Yeoman, vi/vim, Sublime Text, Gulp, SSH and VS Code...</p>
    </div>
    <div class="four columns">
      <h4>Systems</h4>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-apache-plain"></i>
      <i class="devicon-heroku-plain"></i>
      <p>I'm handy with Linux, Apache, Heroku</p>
    </div>
  </div>
</div>
