<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
    <p>Since 2002, I have been working at the <a href="http://www.ctsu.ox.ac.uk">Clinical Trial Service Unit</a>, part of the <a href="http://www.ndph.ox.ac.uk">Nuffield Department of Public Health</a> at the <a href="http://www.ox.ac.uk">University of Oxford</a>.  My role as an Analyst/Programmer has exposed me to a broad range of technologies - while the bulk of my work has been in C++, I have also used PHP, Java, Python, HTML5 and CSS.</p>

  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Design</h4>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-original colored"></i>
      <i class="devicon-sass-original colored"></i>
      <i class="devicon-gimp-plain"></i>
      <i class="devicon-inkscape-plain"></i>
      <p>HTML, CSS/SASS, Bootstrap, GIMP, Inkscape</p>
      <!-- <p>I can design wit ye olde HTML, CSS/SASS, Bootstrap, and do some grafix with GIMP, Inkscape</p> -->
    </div>
    <div class="four columns">
      <h4>Programming</h4>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-django-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-jquery-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>C++, Python, JavaScript, PHP, Java</p>
      <!-- <p>I can haz teh programming in C++, Python, JavaScript, PHP, a bit of Java....</p> -->
    </div>
    <div class="four columns">
      <h4>Systems</h4>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-apache-plain"></i>
      <i class="devicon-heroku-plain"></i>
      <p>Linux, Apache, Heroku</p>
      <!-- <p>I'm handy with Linux, Apache, Heroku</p> -->
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-vim-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <!-- <i class="devicon-atom-original-wordmark"></i> -->
<!--       <i class="devicon-linux-plain"></i>
      <i class="devicon-apache-plain"></i>
      <i class="devicon-heroku-plain"></i>
 -->      <i class="devicon-trello-plain"></i>
      <i class="devicon-ssh-plain"></i>
      <p>Git, Yeoman, vi/vim, Sublime Text, Gulp, SSH and VS Code</p>
    </div>
  </div>
</div>
