<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Retrieval Assistant" src="{{ "/assets/img/retrasst-3.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Storeman: Retrieval Assistant</h5>
      <ul>
        <li> Featured Skills</li>
        <ul>
          <li>C++, RAD Studio, Ingres/SQL</li>
        </ul>
      </ul>
      <p>The Retrieval Assistant is a part of the Storeman application to support laboratory processes connected to the LIMS system in the <a href="https://www.ctsu.ox.ac.uk/research/laboratories">Wolfson Laboratories</a> at the <a href="http://www.ctsu.ox.ac.uk">Clinical Trial Service Unit</a>, part of the <a href="http://www.ndph.ox.ac.uk">Nuffield Department of Public Health</a> at the <a href="http://www.ox.ac.uk">University of Oxford</a></p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="The STIG" src="{{ "/assets/img/stig-3.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>The STIG</h5>
      <ul>
        <li> Featured Skills</li>
        <ul>
          <li>PHP, Python, Perl, Bash, Ingres/SQL</li>
        </ul>
      </ul>
      <p>A web application to provide information for researchers of the <a href="https://www.ctsu.ox.ac.uk/research/ebctcg">Early Breast Cancer Trialists' Collaborative Group (EBCTCG)</a>  about Steering Files associated with the meta-analysis of breast cancer trials.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <!-- <img alt="" src="{{ "/assets/img/" | prepend: site.baseurl }}" /> -->
    </div>
    <div class="six columns">
      <h5>Many more to come...</h5>
<!--       <ul>
        <li> Featured Skills</li>
        <ul>
          <li></li>
        </ul>
      </ul>
      <p>...</p>
      <a class="project-link" href="#">Check it out</a>
 -->    </div>
  </div>


</div>
