<div class="container">

  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="SMS System" src="{{ "/assets/img/sms-log.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>CTSU SMS System</h5>
      <strong>C++, Linux, Ingres/SQL</strong>
      <p>The SMS System was one of my first projects at CTSU. Created to send SMS text messages for patient appointment reminders, it is available to any team within the NDPH, subject to approval. To date, it has sent over 2 million messages, mainly for the UK Biobank project, and HPS2/THRIVE. It was written in C originally, and uses an Ingres database.</p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>
    
  <div class="row user-projects">
    <div class="six columns">
      <img alt="SMS System" src="{{ "/assets/img/messy-test-harness.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <p>In 2017, I performed a major overhaul of the system, re-writing it in C++11, providing an HTTPS API for users, creating a Node.js test harness, and improving throughput massively such that sending several thousand messages takes a couple of minutes instead of over an hour. The new HTTPS interface for users meant it is easier to provide to the wider NDPH department, in anticipation of increased uptake by users.
       </p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Retrieval Assistant" src="{{ "/assets/img/retrasst-3.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Storeman: Retrieval Assistant</h5>
      <strong>C++, RAD Studio, Ingres/SQL</strong>
      <p>The Retrieval Assistant is a part of the Storeman application to support laboratory processes connected to the LIMS system in the <a href="https://www.ctsu.ox.ac.uk/research/laboratories">Wolfson Laboratories</a> at the <a href="http://www.ctsu.ox.ac.uk">Clinical Trial Service Unit</a>, part of the <a href="http://www.ndph.ox.ac.uk">Nuffield Department of Public Health</a> at the <a href="http://www.ox.ac.uk">University of Oxford</a></p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Matrix" src="{{ "/assets/img/quiz-matrix1.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Cognitive Tests</h5>
        <strong>JavaScript, jQuery, Node/Yeoman/Gulp, CSS/SASS, Bootstrap, Responsive Web Design</strong>
      <p>I have created a number of online cognitive tests, originally for the UK Biobank project, but which will now be licensed to research groups across the world. Designed by a psychologist with the aim of measuring problem-solving skills and reaction times to try to correlate with various factors including mental illness, they are designed to work on any web-enabled device and use responsive design techniques. They capture split-second timing data which is delivered back to the server as a JSON payload.</p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Hoops" src="{{ "/assets/img/quiz-hoops1.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns images">
      <img alt="Trails" src="{{ "/assets/img/quiz-trails1.png" | prepend: site.baseurl }}" />
    </div>
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="Retrieval Assistant" src="{{ "/assets/img/eis-react-dashboard.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Teachplus</h5>
      <strong>Python/Django, Project Management</strong>
      <p>Teachplus by <a href="http://www.educationinformationsolutions.com/">Education Information Solutions</a> is an app to help teachers monitor their pupil's progress with the curriculum. I started this project in Django, resourced contractors to continue the project, and have been managing the project since. We hope to go to MVP soon.</p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="The STIG" src="{{ "/assets/img/stig-3.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>The STIG</h5>
      <strong>PHP, Python, Perl, Bash, Ingres/SQL</strong>
      <p>A web application to provide information for researchers of the <a href="https://www.ctsu.ox.ac.uk/research/ebctcg">Early Breast Cancer Trialists' Collaborative Group (EBCTCG)</a>  about Steering Files associated with the meta-analysis of breast cancer trials. This was a proof-of-concept application that I made in my spare time, which then became a vital tool for the professors investigating meta-analyses.</p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="The DS1000" src="{{ "/assets/img/ds1000.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>The DS1000</h5>
      <strong>C/C++, Embedded C, Radio and telecomms</strong>
<!--       <ul>
        <li>C/C++, Embedded C, Radio and telecomms</li>
      </ul>
 -->      
      <p>I worked on software maintentance of the market-leading Integrated Communication and Control System (ICCS) by Securicor Information Systems, the DS1000, for two years. The system is used by the majority of Emergency Services in the UK, including Met Police, Greater Manchester Police, West Midlands, Strathclyde, Avon and Somerset, and many other large services. When I started, there was a huge backlog of bugs to fix and I and two other colleagues were on permanent overtime for many months in order to clear it. After several months, we had cleared the backlog to a manageable size and I was then solely responsible for software maintenance. Our customers and our radio engineers were certainly a lot happier then!</p>
      <!-- <a class="project-link" href="#">Check it out</a> -->
    </div>
  </div>


<!--   <div class="row user-projects">
    <div class="six columns">
      <img alt="alt text" src="{{ "/assets/img/" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>title</h5>
      <ul>
        <li> Featured Skills</li>
        <ul>
          <li>...</li>
        </ul>
      </ul>
      <p></p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div> -->

<!--   <div class="row user-projects">
    <div class="six columns">
      <img alt="alt text" src="{{ "/assets/img/" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>title</h5>
      <ul>
        <li> Featured Skills</li>
        <ul>
          <li>...</li>
        </ul>
      </ul>
      <p></p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div> -->


  <div class="row user-projects">
    <div class="six columns images">
      <!-- <img alt="" src="{{ "/assets/img/" | prepend: site.baseurl }}" /> -->
    </div>
    <div class="six columns">
      <h5>Many more to come (this site is under construction)...</h5>
<!--       <ul>
        <li> Featured Skills</li>
        <ul>
          <li></li>
        </ul>
      </ul>
      <p>...</p>
      <a class="project-link" href="#">Check it out</a>
 -->    </div>
  </div>


</div>
